{% extends "base.html" %}

{% block auth %}
    {% if user %}
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/logout">Logout</a>
            </div>
        </div>
    {% else %}
            <div class="navbar-header">
                <a class="navbar-brand" href="/login">Login</a>
            </div>

    {% endif %}
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-4 col-xs-4">
            <div class=" row border-bottom padding-sm" style="height: 40px;">
                {#            	title  #}
            </div>

            <!-- =============================================================== -->
            <!-- member list -->
            <ul class="friend-list">
                {% for room in rooms %}
                    <li>
                        <a href="#{{ room.id }}" class="clearfix bounceInDown chat-link">
                            <img src="{{ url('static', filename='room_logo.png') }}" alt="">
                            <div class="friend-name">
                                <strong></strong>
                            </div>
                            <div class="last-message text-muted friend-name"> {{ room.name }}</div>
                            <small class="time text-muted">5 mins ago</small>
                            <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% if user %}
                <ul class="friend-list">
                    <li>
                        <a href="#" class="clearfix bounceInDown">
                            <div class="friend-name">
                                <strong></strong>
                            </div>
                            <div class="last-message text-muted"> Add new chat room</div>
                            <small class="time text-muted"></small>
                            <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
                        </a>
                    </li>
                </ul>
            {% endif %}

        </div>

        <!--=========================================================-->
        <!-- selected chat -->
        <div class="col-md-8 col-xs-8">
            <div class="chat-message">
                <ul class="chat" id="chat">

                </ul>
            </div>
            <div class="chat-box bg-white">
                <div class="input-group">
                    <input class="form-control border no-shadow no-rounded" placeholder="Type your message here">
                    <span class="input-group-btn">
            			<button class="btn btn-success no-rounded" type="button">Send</button>
            		</span>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>

{% endblock %}