{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            {% block title %}
                <h1>Sign In</h1>
                <h6><a href="/signup">Sign up if you haven't account</a></h6>
            {% endblock %}
            {% if error %}
                <div class="error" style="color: red;"><strong>Error:</strong> {{ error }}</div>
            {% endif %}

            {% block form_head %}
                <form action="/login" method="post">
            {% endblock %}
            <p>
                <label for="username">Username</label><br>
                <input id="username" name="username" type="text" value="" size=20 autofocus required/>
            </p>
            <p>
                <label for="password">Password</label><br>
                <input id="password" name="password" type="password" value="" size=20 required/>
            </p>
            {% block form_end %}
                <input class="btn btn-default" type="submit" value="Login"/>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}