{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h1>Sign In</h1>

            {% if error %}
                <div class="error" style="color: red;"><strong>Error:</strong> {{ error }}</div>
            {% endif %}
            <form action="/login" method="post">
                <p>
                    <label for="username">Username</label><br>
                    <input id="username" name="username" type="text" value="" size=20 autofocus/>
                </p>
                <p>
                    <label for="password">Password</label><br>
                    <input id="password" name="password" type="password" value="" size=20/>
                </p>
                <input class="btn btn-default" type="submit" value="login"/>
            </form>
        </div>
    </div>
{% endblock %}